**/.project
**/.classpath
**/.settings
**/target
**/.idea
**/coeus.iml
**/.DS_Store
**/Thumbs.db
bin
.project
.classpath
.settings
target
.idea
coeus.iml
**/bin
coeus-webapp/src/main/resources/META-INF/kc-alt-config.xml
**/META-INF/kcmit-config.xml
